# Ambiente
ENVIRONMENT=development

# Banco de Dados
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/github_pipeline

# GitHub API
GITHUB_TOKEN=
GITHUB_API_BASE_URL=https://api.github.com

# API
API_HOST=0.0.0.0
API_PORT=8000
API_DEBUG=true

# Prefect
PREFECT_API_URL=http://localhost:4200/api
